{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "debug": false,
          "useBuiltIns": "usage"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./"
        }
      }
    ]
  ],
  "sourceType": "unambiguous"
}
